{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/style.css' %}">

{% extends "admin/base_site.html" %}

{% block title %}
{{ title }} | Admin panel
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">My Custom Admin Site</a></h1>
{% endblock %}

{% block header %}
<div id="header">
  <div id="branding">
    <h1><a href="{% url 'admin:index' %}"><img src="{% static 'img/logo.png' %}" alt="My Logo"></a></h1>
  </div>
</div>
{% endblock %}
